.profile
    padding: 0 0 10px 10px
    &__banner  
    &__updateavatar
        position: relative
        overflow: hidden
        display: inline-block 
        left: -80px
        top: 20px
        & input[type=file] 
            position: absolute
            top: 0
            right: 0
            margin: 0
            padding: 0
            font-size: 20px
            cursor: pointer
            opacity: 0
            filter: alpha(opacity=0)
        & label
            cursor: pointer        
    &__details
        margin-top: -30px
        &--avatar
            width:120px
            border: 3px solid $white
            border-radius: 50px

        &--edit
            background: #fff
            border: 1px solid #5a27d5
            border-radius: 5px
            color: #5a27d5
            padding: 10px 20px
            font-weight: 600
            &:hover
                background: linear-gradient(90.73deg, #5A27D5 0%, #5F27D3 32.36%, #AE2EC4 100%)
                color: $white
        &--name
            color: #404040
            font-weight: 600
        &--mail
            color: #7E848E
            font-weight: 400
        &--bio
            color: #7E848E
            font-weight: 400
        &--location
            color: #7E848E
    &__skills
        &--tag
            background-color: #F8F5FF
            border-radius: 10px
            padding: 5px 15px 5px 10px
            border: 2px solid #F8F5FF
            color: #404040
            font-weight: 400
            border-radius: 50px


    @media screen and (max-width: 400px)
     .profile
        &__banner
        &__box
            &--edit     
                 margin-top: -150px !important