.profile
    padding: 0 0 10px 10px
    &__banner
        background-color: $red 
        padding: 2rem
    &__box
        height: 100px
        top: 50px
        transform: translate(0px, 70px)
        position: relative
        &--edit
            margin-top: 40px
            border-radius: 5px
            border: .14rem solid #5a27d5
            color: #5a27d5
            padding: 10px 20px
            background-color: transparent
            font-weight: 700
            &:hover
                background: linear-gradient(90.73deg, #5A27D5 0%, #5F27D3 32.36%, #AE2EC4 100%)
                color: $white
                border: .14rem solid transparent
        &--avartar
            width: 100px
    &__details
        &--name
            color: #404040
            font-weight: 600
        &--mail
            color: #7E848E
            font-weight: 400
            font-size: 14px
            line-height: 20px
            padding-bottom: .5rem
        &--text
            font-size: 16px
            padding-bottom: .5rem
        &--location
            color: #7E848E
    &__skills
        &--btn
            background-color: #F8F5FF
            border-radius: 10px
            padding: 5px 15px 5px 10px
            border: 2px solid #F8F5FF
            color: #404040
            font-weight: 400


    @media screen and (max-width: 400px)
     .profile
        &__banner
        &__box
            &--edit     
                 margin-top: -150px !important