.sidebar
    background-color: transparent !important
    &--link
        color: #7E848E
        padding: 1rem
        border-radius: 5px 15px 15px 5px
        margin: .7rem
        &:hover
            background: #F8F5FF