.signup
    &__col
        &--title
            font-weight: 700
        &--text
        &--btn
            width: 100%
            padding: .5rem
            font-weight: 500
        &--icon
            position: absolute
            color: $green
            cursor: pointer
            top: 2rem
            right: 25px
            
            
