@import './_variables'
@import './_mixins'
@import './_signup'
@import './_signup'
@import './_sidebar'
@import './_profileprofile'
@import './_ventures'
@import './_tags'
@import './_general'
@import './edit-profile'
@import './ventureview'
@import './navigation'
@import './_contact'


*
  box-sizing: border-box
  outline: none

html,
body
  height: 100%
  overflow-x: hidden
a 
  text-decoration: none
p
  font-size: 1rem
.form-check-input:checked
  background-color: purple
  border-color: purple
  width: 3rem
  height: 3rem
body 
  position: relative
  margin: 0
  font-family: 'Inter', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $main-text-color
  font-size: $main-text-size
  background-color: #F8F5FF
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
  font-weight: 600
  color: #7e848e!important
  border: 0
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
  background: #f8f5ff !important
  border-bottom: 3px solid #5a27d5!important
  color: #404040!important

code 
  font-family: 'Inter', sans-serif
.file-upload
  position: relative
  overflow: hidden
  display: inline-block

.file-upload input[type=file]
  text-align: center
  position: abolute
  top: 0
  right: 0
  margin: 0
  padding: 0
  cursor: pointer
  filter: alpha(opacity=0)
  opacity: 0
.file-upload label
  display: inline-block
  cursor: pointer


  .navbar-menu 
    display: none
  
  
  .navbar-toggle 
    display: flex
  
  
  .navbar-logo 
    order: 1
  
  
  .sidenav 
    background: $red
    width: 100%
    position: fixed
    top: 60px
    left: -100%
    transition: 0.5s
    background-color: #333
    height: calc(100% - 60px)
  
  
  .sidenav a 
    display: block
    padding: 20px
    text-decoration: none
    color: #fff
    font-size: 1.2rem
    transition: 0.3s
  
  
  .sidenav a:hover 
    background-color: #444
  
  
  .sidenav.show 
    left: 0
  
  
  .navbar-menu.show 
    display: flex
    flex-direction: column
    position: fixed
    top: 60px
    left: 0
    right: 0
    bottom: 0
    background-color: #fff
    z-index: 1
    padding: 20px
    overflow-y: scroll
  
  
  .navbar-menu.show li 
    margin: 10px 0
  
